.tabContainer {
    background: #1f2744;
    border-radius: 10px;
    margin-top: 43px;
    margin-bottom: 36px;
}

.tabHead {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6389af;
    a {
        display: flex;
        align-items: center;
        height: 70px;
        color: #6389af;
        padding: 0 14px;

        + a {
            margin-left: 50px;
        }
        img {
            margin-right: 10px;
        }
    }
    .active {
        border-bottom: 3px solid #9fd8ff;
        color: #c0e4ff;
    }
}

.tabBody {
    padding: 25px 45px 30px 60px;
}

@media screen and (max-width: 767px) {
    .tabHead {
        justify-content: center;

        p {
            display: none;
        }
    }
    .tabBody {
        padding: 20px 20px;
    }
}
