.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    li {
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
    }
    .account {
        &::after {
            content: '';
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 5px solid#A1D6FA;
            border-radius: 1px;
            margin-left: 14.5px;
        }
    }
}
